.decision {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    .title {
      text-align: center;
    }

    .problems__list {
      flex-direction: column;
      padding-left: 30px;
    }
  }

  .problems__list {
    width: 100%;
  }

  .title {
    margin-bottom: 40px;
  }

  .bubbles {
    margin-top: 30px;
    gap: 8px;
  }

  .bubbles__item {
    padding: 13px;
  }

  &__img {
    margin-right: 20px;

    img {
      height: 400px;
    }

    @include desctop {
      img {
        height: 250px;
      }
    }

    @include tablet {
      position: absolute;
      right: 0;
      top: 36%;
      margin-right: 0;

      img {
        height: 200px;
      }
    }

    @include mobile {
      display: none;
    }
  }

  &__img-sec {
    @include desctop {
      img {
        height: 300px;
      }
    }

    @include small-tablet {
      display: none;
    }
  }
}

#decision {
  padding-bottom: 60px;
}
