.start {
  padding-bottom: 60px;

  .title {
    margin-bottom: 25px;

    @include desctop {
      text-align: center;
    }
  }

  .problems__item {
    width: 31%;
    margin-left: 25px;

    .btn-test {
      margin-top: 8px;
      font-weight: 500;
    }

    @include desctop {
      width: 70%;
      margin-left: 0;
    }

    @include small-tablet {
      width: 90%;
    }
  }

  .problems__list {
    @include desctop {
      flex-direction: column;
      align-items: center;
    }
  }
}
