.whyneed {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media (max-width: 970px) {
    padding-top: 0;

    .title,
    .subtitle {
      text-align: center;
      max-width: 100%;
    }
  }

  &__img {
    transform: rotate(45deg);
    margin-top: -60px;

    @include desctop {
      img {
        height: 250px;
      }
    }

    @media (max-width: 970px) {
      display: none;
    }
  }
}

.bubbles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 60px;

  @include tablet {
    gap: 10px;
  }

  &__item {
    border-radius: 25px;
    background-color: $gray-bg;
    padding: 25px 30px;
    display: inline-block;

    span {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  &__item:nth-child(even) {
    border-top-left-radius: 0;
  }

  &__item:nth-child(odd) {
    border-bottom-right-radius: 0;
  }

  @include mobile {
    span {
      font-size: 1.3rem;
    }
  }
}
