<section class="contacts" id="contacts">
  <div class="contacts__info">
    <h6 class="title">
      Наши
      <span class="title__accent title__accent-round">контакты</span>
    </h6>

    <div class="contacts__text">
      <p>
        г. Сургут пр-т Мира, 34/3
      </p>
      <a href="mailto:hello@renglish.ru">hello@renglish.ru</a>
    </div>

    <div class="social">
      <a href="/" target="_blank" class="social__item">
        <img src="img/svg/w.svg" alt="whatsapp">
      </a>
      <a href="/" target="_blank" class="social__item">
        <img src="img/svg/v.svg" alt="viber">
      </a>
      <a href="/" target="_blank" class="social__item">
        <img src="img/svg/vkon.svg" alt="vk">
      </a>
    </div>

    <form action="/" class="form">
      <div class="form__title">
        Остались вопросы?
        Заполните форму
        и мы свяжемся с вами!
      </div>

      <input class="form__input" type="text" name="name" placeholder="Ваше имя">
      <input class="form__input tel" type="tel" name="tel" placeholder="Ваш телефон" required>

      <button class="btn-reset btn">Отправить</button>
    </form>
  </div>

  <div class="contacts__map">
    <script type="text/javascript" charset="utf-8" async
      src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad4c9d580790e3e3784d6341532be1138281bdac81f8766a2577ca75264a438d3&amp;width=100%25&amp;height=580&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
</section>