<section class="decision" id="decision">
  <div class="decision__img">
    <picture>
      <source srcset="img/5.webp" type="image/webp">
      <img loading="lazy" class="mouse-bg" src="img/5.png" class="image" alt="decision">
    </picture>
  </div>
  <div class="decision__text">
    <h4 class="title">Но есть <span class="title__accent title__accent-round">решение!</span></h4>
    <ul class="problems__list" data-aos="flip-up">
      <li class="problems__item">
        <h3 class="decor">Мы можем помочь</h3>
        <p>Потому что используем для вашего обучения совершенно другой подход</p>
      </li>
      <li class="problems__item" data-aos="flip-up">
        <h3 class="decor">Мы вас не учим</h3>
        <p>Мы помогаем изучить английский в увлекательной форме.
          Так вы расслабляетесь и переходите на новый уровень. Незаметно для себя</p>
      </li>
    </ul>
  </div>
</section>

<section class="decision">
  <div class="decision__text">
    <h4 class="title">Почему <span class="title__accent title__accent-round">к нам?</span>
    </h4>
    <p class="subtitle">Мы — за интересное обучение!
      Без привычных атрибутов: скуки, зубрёжки, насилия над собой</p>

    <ul class="bubbles">
      <li class="bubbles__item" data-aos="flip-up" data-aos-duration="1000">
        <span>Обучаем английскому 5 лет</span>
      </li>
      <li class="bubbles__item" data-aos="flip-up" data-aos-delay="50" data-aos-duration="1000">
        <span>Лицензия на образовательные услуги</span>
      </li>
      <li class="bubbles__item" data-aos="flip-up" data-aos-delay="100" data-aos-duration="1000">
        <span>Сделали английский разговорным для более 700 выпускников</span>
      </li>
      <li class="bubbles__item" data-aos="flip-up" data-aos-delay="150" data-aos-duration="1000">
        <span>Все наши преподаватели — уровня носителя языка</span>
      </li>
      <li class="bubbles__item" data-aos="flip-up" data-aos-delay="200" data-aos-duration="1000">
        <span>В 92% случаев к нам приходят по рекомендациям</span>
      </li>
      <li class="bubbles__item" data-aos="flip-up" data-aos-delay="250" data-aos-duration="1000">
        <span>Наши ученики живут по всей России и СНГ</span>
      </li>
    </ul>
  </div>
  <div class="decision__img decision__img-sec">
    <picture>
      <source srcset="img/6.webp" type="image/webp">
      <img class="mouse-bg" loading="lazy" src="img/6.png" height="300" class="image" alt="decision">
    </picture>
  </div>
</section>