<section class="decision" id="decision">
  <div class="decision__img">
    <img class="mouse-bg" height="250" src="img/5.png" alt="decision">
  </div>
  <div class="decision__text">
    <h4 class="title">Но есть <span class="title__accent title__accent-round">решение!</span></h4>

    <ul class="problems__list">
      <li class="problems__item">
        <h3 class="decor">Мы можем помочь</h3>
        <p>Потому что используем для вашего обучения совершенно другой подход</p>
      </li>
      <li class="problems__item">
        <h3 class="decor">Мы вас не учим</h3>
        <p>Мы помогаем изучить английский в увлекательной форме.
          Так вы расслабляетесь и переходите на новый уровень. Незаметно для себя</p>
      </li>
    </ul>
  </div>

</section>