<section class="firstStep">
  <div class="firstStep__wrapper">
    <h5 class="title">Сделайте первый шаг к
      <span class="title__accent title__accent-round">свободному</span>
      английскому уже сегодня
    </h5>
    <div class="firstStep__img">
      <img class="mouse-bg" src="img/7.png" alt="heart">
    </div>
  </div>

  <div class="dialog">
    <div class="dialog__item">
      <img src="img/smile.png" width="60" alt="smile">
      <li class="bubbles__item">
        <span>А вы не очередные курсы, которые только обещают?</span>
      </li>
    </div>
    <div class="dialog__item dialog__item-reverse">
      <img src="img/pr.png" width="60" alt="pr">
      <li class="bubbles__item">
        <span>Нет. У нас другой подход, не такой, как на других курсах</span>
      </li>
    </div>
    <div class="dialog__item">
      <img src="img/smile.png" width="60" alt="smile">
      <li class="bubbles__item">
        <span>А если не получится?</span>
      </li>
    </div>
    <div class="dialog__item dialog__item-reverse">
      <img src="img/pr.png" width="60" alt="pr">
      <li class="bubbles__item">
        <span>Получится обязательно. Почему дети так легко осваивают другой язык? Потому что они изучают его в игре!
          Они не зажаты</span>
      </li>
    </div>
    <div class="dialog__item">
      <img src="img/smile.png" width="60" alt="smile">
      <li class="bubbles__item">
        <span>А задания будут?</span>
      </li>
    </div>
    <div class="dialog__item dialog__item-reverse">
      <img src="img/pr.png" width="60" alt="pr">
      <li class="bubbles__item">
        <span>Будут. Но тоже интересные</span>
      </li>
    </div>
    <div class="dialog__item">
      <img src="img/smile.png" width="60" alt="smile">
      <li class="bubbles__item">
        <span>Когда первый результат?</span>
      </li>
    </div>
    <div class="dialog__item dialog__item-reverse ">
      <img src="img/pr.png" width="60" alt="pr">
      <li class="bubbles__item">
        <span>Вы ощутите разницу с первого же занятия</span>
      </li>
    </div>
    <div class="dialog__item">
      <img src="img/smile.png" width="60" alt="smile">
      <li class="bubbles__item">
        <span>Но ведь я уже столько старался… А толку?</span>
      </li>
    </div>
    <div class="dialog__item dialog__item-reverse">
      <img src="img/pr.png" width="60" alt="pr">
      <li class="bubbles__item">
        <span>А вы перестаньте. Расслабьтесь и доверьтесь нам</span>
      </li>
    </div>
    <p>Сомневающийся пользователь передумал и вступил в Школу английского Renglish</p>
  </div>
</section>