<footer class="footer">
  <div class="container footer__container">
    <div class="footer__logo">
      <span>@REnglish</span>
    </div>
    <nav class="footer__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#decision">Почему к нам?</a>
        </li>
        <li class="nav__item">
          <a href="#start">Как начать обучение</a>
        </li>
        <li class="nav__item">
          <a href="#price">Цена</a>
        </li>
        <li class="nav__item">
          <a href="#contacts">Контакты</a>
        </li>
      </ul>
    </nav>
    <a class="phone-link" href="tel:+79310000000">+7 931 000 00 00</a>
  </div>
</footer>