<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#fff">
  <title>Курсы английского языка – бесплатно в Сургуте | Renglish.ru</title>
  <meta name="description"
    content="Ищете курсы английского для взрослых и детей? Заходите к нам! Разговорный английский для начинающих и продвинутых, подготовка к ОГЭ и ЕГЭ. Цена от 625 руб.! Записывайтесь на бесплатное пробное занятие!">
  <meta name="keywords"
    content="курсы английского языка курсы английского курсы изучения английского курсы изучения английского языка курсы английского сургут курсы английского языка сургут уроки английского языка курсы курсы подготовки английского языка курсы английского просвещения">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
</head>