<section class="hero">
  <div class="hero__text">
    <h1 class="title">Помогаем вам <span class="title__accent">заговорить</span> на английском</h1>
    <button data-modal="true" class="btn-reset btn">Оставить заявку</button>
  </div>

  <div class="hero__imgs">
    <picture>
      <source srcset="img/1.webp" type="image/webp">
      <img src="img/1.png" class="image" alt="study">
    </picture>
    <picture>
      <source srcset="img/2.webp" type="image/webp">
      <img src="img/2.png" class="image" alt="english">
    </picture>
  </div>
</section>