<div class="overflow">
  <div class="modal">
    <div class="modal__content">
      <div class="test__header">
        <h6>
          Определите свой уровень языка, чтобы мы могли подобрать для вас группу
        </h6>
        <span class="test__count">1/5</span>
      </div>
      <div class="test__content">
        <p class="quest">1. Do you speak … English?</p>
        <input type="radio" id="1" name="contact" value="in">
        <label for="1">in</label>
      </div>
    </div>
  </div>
  <div class="modal__close">
    <svg class="t-popup__close-icon" width="23px" height="23px" viewBox="0 0 23 23" version="1.1"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="#fff" fill-rule="evenodd">
        <rect transform="translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) "
          x="10.3137085" y="-3.6862915" width="2" height="30"></rect>
        <rect transform="translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) "
          x="10.3137085" y="-3.6862915" width="2" height="30"></rect>
      </g>
    </svg>
  </div>
</div>