<section class="price" id="price">
  <h5 class="title">
    Просто запишитесь на занятия, а дальше <span class="title__accent title__accent-round">дело за нами!</span>
  </h5>

  <div class="price__card card">
    <p class="card__categ">Курсы для взрослых:</p>
    <div class="card__list">
      <div class="card__item" data-modal="true" data-name="General English">
        <h6 class="card__title">Разговорный английский «General English»</h6>
        <p>Помогаем свободно общаться на английском и чувствовать себя уверенным в любой точке мира</p>
        <div class="card__info">
          <span>2 занятия в неделю</span>
          <span>по 90 минут</span>
          <span>от 5 990 ₽ / мес.</span>
        </div>
        <button class="btn-reset btn">Записаться</button>
      </div>
      <div class="card__item" data-modal="true" data-name="English Corporate">
        <h6 class="card__title">Бизнес курс «English Corporate»</h6>
        <p>Вам нужно в сжатые сроки подготовиться к бизнес событию? Переговоры, бизнес-презентации, командировки,
          собеседования для получения визы — вы называете цель, мы вас готовим!</p>
        <div class="card__info">
          <span>от 9 990 ₽ / мес.</span>
        </div>
        <button class="btn-reset btn">Записаться</button>
      </div>
      <div class="card__item" data-modal="true" data-name="English intensive">
        <h6 class="card__title">Английский для путешественников «English intensive»</h6>
        <p>Времени совсем мало, а вам нужно срочно подтянуть английский для поездки за границу? Экспресс-курс
          английского для туристов подготовит вас к путешествию!</p>
        <div class="card__info">
          <span>2 месяца</span>
          <span>10 000 ₽*</span>
          <span>*действует рассрочка</span>
        </div>
        <button class="btn-reset btn">Записаться</button>
      </div>
    </div>
  </div>

  <div class="price__card card">
    <p class="card__categ">Еще курсы:</p>
    <div class="card__list">
      <div class="card__item" data-modal="true" data-name="Подростки">
        <h6 class="card__title">Курсы для подростков</h6>
        <p>С самого первого занятия ваш ребенок учится говорить! На практику общения отводится не менее 80% времени
          занятия!</p>
        <div class="card__info">
          <span>3 занятия в неделю</span>
          <span>по 60 минут</span>
          <span>9 месяцев</span>
          <span>от 5 990 ₽ / мес.</span>
        </div>
        <button class="btn-reset btn">Записаться</button>
      </div>
      <div class="card__item" data-modal="true" data-name="ЕГЭ">
        <h6 class="card__title">Подготовка к ОГЭ и ЕГЭ</h6>
        <p>Помогаем выйти за рамки школьной программы и сдать экзамены «на отлично»!</p>
        <div class="card__info">
          <span>3 занятия в неделю</span>
          <span>по 60 минут</span>
          <span>10 месяцев</span>
          <span>от 6 990 ₽ / мес.</span>
        </div>
        <button class="btn-reset btn">Записаться</button>
      </div>
      <div class="card__img">
        <img class="mouse-bg" src="img/8.png" alt="its simple">
      </div>
    </div>
  </div>
</section>