<section class="problems">
  <h2 hidden>проблемы</h2>
  <div class="problems__img">
    <picture>
      <source srcset="img/3.webp" type="image/webp">
      <img loading="lazy" src="img/3.png" class="image" alt="book">
    </picture>
  </div>

  <ul class="problems__list">
    <li class="problems__item" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="100">
      <h3 class="decor">Знакомо?</h3>
      <p>Опять немеет язык, когда нужно что-то сказать… Вам хочется провалиться от стыда за свой английский…</p>
    </li>
    <li class="problems__item" data-aos="flip-up" data-aos-delay="50" data-aos-duration="150">
      <h3 class="decor">Не надоело?</h3>
      <p>Хватит стесняться говорить на английском! Оставьте позади мучительные попытки выдавить из себя слова!</p>
    </li>
    <li class="problems__item" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="200">
      <h3 class="decor">Вы не один</h3>
      <p>Мы понимаем. Люди годами изучают язык, но говорить так и не могут. Так происходит на каждом шагу, и это
        печально</p>
    </li>
    <li class="problems__item" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="250">
      <h3 class="decor">Только представьте!</h3>
      <p>Вы свободно выражаете свои мысли! Речь льётся плавно, без заминок</p>
    </li>
    <li class="problems__item" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="300">
      <h3 class="decor">Вы спонтанны</h3>
      <p>Вам легко передавать эмоции</p>
    </li>
    <li class="problems__item" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="350">
      <h3 class="decor">Не верится,</h3>
      <p>Но вы общаетесь на иностранном, как на родном!</p>
    </li>
  </ul>
</section>