<section class="problems">
  <h2 hidden>проблемы</h2>
  <div class="problems__img">
    <img class="mouse-bg" src="img/3.png" alt="book">
  </div>

  <ul class="problems__list">
    <li class="problems__item">
      <h3 class="decor">Знакомо?</h3>
      <p>Опять немеет язык, когда нужно что-то сказать… Вам хочется провалиться от стыда за свой английский…</p>
    </li>
    <li class="problems__item">
      <h3 class="decor">Не надоело?</h3>
      <p>Хватит стесняться говорить на английском! Оставьте позади мучительные попытки выдавить из себя слова!</p>
    </li>
    <li class="problems__item">
      <h3 class="decor">Вы не один</h3>
      <p>Мы понимаем. Люди годами изучают язык, но говорить так и не могут. Так происходит на каждом шагу, и это
        печально</p>
    </li>
    <li class="problems__item">
      <h3 class="decor">Только представьте!</h3>
      <p>Вы свободно выражаете свои мысли! Речь льётся плавно, без заминок</p>
    </li>
    <li class="problems__item">
      <h3 class="decor">Вы спонтанны</h3>
      <p>Вам легко передавать эмоции</p>
    </li>
    <li class="problems__item">
      <h3 class="decor">Не верится,</h3>
      <p>Но вы общаетесь на иностранном, как на родном!</p>
    </li>
  </ul>
</section>