<section class="reviews">
  <h5 class="title">Отзывы</h5>
  <div class="reviews__list">
    <div class="row youtube" data-aos="flip-up">
      <div class="play">
        <img src="img/svg/play.svg" alt="play">
      </div>
      <div class="youtube__text">
        <p>Посмотрите, как этим людям весело изучать английский
          <span>А отдача от этого подхода во много раз выше!</span>
        </p>
      </div>
    </div>
    <div class="row vk" data-aos="flip-up">
      <p>Что думают о нас наши студенты в ВК?</p>
      <a href="https://vk.com" target="_blank" rel="noreferrer noopener" class="btn btn-white">Смотреть отзывы</a>
    </div>
  </div>
</section>