<section class="start" id="start">
  <h5 class="title">Как
    <span class="title__accent title__accent-round">начать</span> обучение?
  </h5>
  <ul class="problems__list">
    <li class="problems__item" data-aos="flip-up" data-aos-delay="50" data-aos-duration="1000">
      <h3 class="decor">Запишитесь на пробное занятие</h3>
      <p>Это бесплатное занятие, которое поможет изучить формат. Разобраться, эффективен ли для вас наш подход</p>
    </li>
    <li class="problems__item" data-aos="flip-up" data-aos-delay="150" data-aos-duration="1000">
      <h3 class="decor">Пройдите тест</h3>
      <p>Определите свой уровень языка, чтобы мы могли подобрать для вас группу</p>
      <button class="btn-reset btn-test" data-modal="true" data-test="true" href="#">Пройти тест &#8594;</button>
    </li>
    <li class="problems__item" data-aos="flip-up" data-aos-delay="250" data-aos-duration="1000">
      <h3 class="decor">Начните занятия</h3>
      <p>Сделайте первый шаг к свободному английскому уже сегодня</p>
    </li>
  </ul>
</section>