<section class="whyneed">
  <div class="whyneed__text">
    <h3 class="title">Почему стоит
      <span class="title__accent title__accent-round">начать?</span>
    </h3>
    <p class="subtitle">
      Нам грустно видеть, как люди лишают себя части удовольствий
    </p>
  </div>
  <div class="whyneed__img">
    <img class="mouse-bg" src="img/4.png" alt="netflix">
  </div>
</section>

<div>
  <ul class="bubbles">
    <li class="bubbles__item">
      <span>Новых мест, новых открытий в нашем огромном мире</span>
    </li>
    <li class="bubbles__item">
      <span> Путешествий без туристического планктона</span>
    </li>
    <li class="bubbles__item ">
      <span> Невероятных знакомств, познания других культур</span>
    </li>
    <li class="bubbles__item">
      <span> Интересной работы для души</span>
    </li>
    <li class="bubbles__item">
      <span> Сильных эмоций от прочтения великих романов такими, какими их задумал автор</span>
    </li>
    <li class="bubbles__item">
      <span> Свободы чтения новостей со всего мира</span>
    </li>
    <li class="bubbles__item">
      <span>Просмотра шедевров киномастерства в оригинале</span>
    </li>
  </ul>
</div>