<section class="whyneed">
  <div class="whyneed__text">
    <h3 class="title">Почему стоит
      <span class="title__accent title__accent-round">начать?</span>
    </h3>
    <p class="subtitle">
      Нам грустно видеть, как люди лишают себя части удовольствий
    </p>
  </div>
  <div class="whyneed__img">
    <picture>
      <source srcset="img/4.webp" type="image/webp">
      <img loading="lazy" src="img/4.png" class="image" alt="netflix">
    </picture>
  </div>
</section>

<div>
  <ul class="bubbles">
    <li class="bubbles__item" data-aos="flip-up" data-aos-delay="50" data-aos-duration="1000">
      <span>Новых мест, новых открытий в нашем огромном мире</span>
    </li>
    <li class="bubbles__item" data-aos="flip-up" data-aos-delay="150" data-aos-duration="1000">
      <span> Путешествий без туристического планктона</span>
    </li>
    <li class="bubbles__item" data-aos="flip-up" data-aos-delay="200" data-aos-duration="1000">
      <span> Невероятных знакомств, познания других культур</span>
    </li>
    <li class="bubbles__item" data-aos="flip-up" data-aos-delay="250" data-aos-duration="1000">
      <span> Интересной работы для души</span>
    </li>
    <li class="bubbles__item" data-aos="flip-up" data-aos-delay="300" data-aos-duration="1000">
      <span> Сильных эмоций от прочтения великих романов такими, какими их задумал автор</span>
    </li>
    <li class="bubbles__item" data-aos="flip-up" data-aos-delay="350" data-aos-duration="1000">
      <span> Свободы чтения новостей со всего мира</span>
    </li>
    <li class="bubbles__item" data-aos="flip-up" data-aos-delay="400" data-aos-duration="1000">
      <span>Просмотра шедевров киномастерства в оригинале</span>
    </li>
  </ul>
</div>