html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: 1.6rem;
  font-weight: 500;
  color: $gray-text;
  background-color: #fff;
}

img {
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  padding: 0 $container-offset;
  max-width: $container-width;
  margin: 0 auto;
}

.decor {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 3px;
    background-color: $main-color;
    width: 15px;
    height: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.btn {
  background-color: $main-color;
  font-weight: 700;
  border-radius: 50px;
  color: $gray-text;
  transition: all 200ms ease-in-out;
  padding: 25px 45px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $main-color;
    width: 100%;
    border-radius: 50px;
    transition: all 200ms ease-in-out;
    z-index: -1;
  }

  &:hover {
    background-color: lighten($main-color, 15);

    &::before {
      opacity: 1;
      left: 70%;
      background-color: lighten($main-color, 35);
    }
  }

  &-white {
    background-color: #fff;
    border: 3px solid #fff;

    &:hover {
      background-color: $main-color;
      color: #000;
    }
  }

  &-test {
    color: rgb(200, 40, 225);

    &:hover {
      color: darken(rgb(200, 40, 225), 10);
    }
  }
}
